/Assignments3 q1.exe
/Assignments3 q2.cpp
/Assignments3 q3.cpp
/Assignments3 q3.exe
/Assignments3 q4.cpp
/Assignments3 q4.exe
/Assignments3 q5.cpp
/Assignments3 q5.exe
/Assignments3 q6.cpp
/Assignments3 q6.exe
/Assignments3 q7.cpp
/Assignments3 q7.exe
/Assignments3 q8.cpp
/Assignments4 q1.cpp
/Assignments4 q1.exe
/Assignments4 q2.cpp
/Assignments4 q2.exe
/Assignments4 q3.cpp
/Assignments4 q3.exe
/Assignments4 q4.cpp
/Assignments4 q4.exe
/Assignments4 q5.cpp
/Assignments4 q5.exe
/Assignments4 q6.cpp
/Assignments4 q6.exe
/Assignments4 q7.cpp
/Assignments4 q7.exe
/Assignments4 q8.cpp